<head>
	<title><%= page %> - <%= options.siteName %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="<%= page %> to <%= options.siteName %>.">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"  media="none" onload="if(media!='all')media='all'">
	<style>
		:root {
			--input-padding-x: 1rem;
			--input-padding-y: .75rem;
		}

		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 50px 0;
			flex-direction: column;
			width: 700px;
			max-width: 90%;
			min-height: 100vh;
		}

		.login-block {
			margin: 2rem auto;
			border: 0;
			width: 400px;
			max-width: 90%;
		}

		.title {
			margin: 2rem 0 3rem 0;
			font-weight: 300;
			font-size: 2.2rem;
		}

		.subtitle {
			font-size: 1.3rem;
		}

		.btn {
			font-size: 0.8rem;
			letter-spacing: .1rem;
			font-weight: bold;
			padding: 0.75rem;
			transition: all 0.2s;
			text-transform: uppercase;
			color: white;
			width: 100%;
			margin: 0 0 1.3rem 0;
		}

		.btn:hover {
			opacity: 0.8;
			color: #fff;
		}

		.form-label-group {
			position: relative;
			margin-bottom: 1rem;
		}

		.form-label-group input {
			height: auto;
		}

		.form-label-group > input,
		.form-label-group > label {
			padding: var(--input-padding-y) var(--input-padding-x);
		}

		.form-label-group > label {
			position: absolute;
			top: 0;
			cursor: text;
			left: 0;
			display: block;
			width: 100%;
			margin-bottom: 0;
			line-height: 1.5;
			color: #495057;
			border: 1px solid transparent;
			transition: all .1s ease;
		}

		.form-label-group input::placeholder {
			color: transparent;
		}

		.form-label-group input:not(:placeholder-shown) {
			padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
			padding-bottom: calc(var(--input-padding-y) / 3);
		}

		.form-label-group input:not(:placeholder-shown) ~ label {
			padding-top: calc(var(--input-padding-y) / 3);
			padding-bottom: calc(var(--input-padding-y) / 3);
			font-size: 12px;
			color: #777;
		}

		.btn-google {
			background-color: #ea4335;
		}

		.btn-facebook {
			background-color: #3b5998;
		}

		.btn-github {
			background-color: #24292e;
		}
	</style>

	<%- options.pages.customHeadHtml || '' %>

</head>
<body>
	<div class="container">
		<div class="text-center">
			<% if (options.pages.logoUrl) { %>
				<p><a href='/' class="text-center"><img width="90" src='<%= options.pages.logoUrl %>'/></a></p>
			<% } else { %>
				<h2><i class="fas fa-user mb-3"></i></h2>
			<% } %>
			
			<h3 class="title"><%= title %></h3>
			<% if (locals.subtitle) { %>
				<p class="subtitle"><%= subtitle %></p>
			<% } %>
		</div>

		<div class="login-block">
			<% if (locals.error && error.length) { %>
				<div class="alert alert-danger" role="alert">
					<%- error %>
				</div>
			<% } %>

			<% if (locals.info && info.length) { %>
				<div class="alert alert-primary" role="alert">
					<%- info %>
				</div>
			<% } %>